
mdn_admin_dashboard_index:
    pattern:  /admin/dashboard/
    defaults: { _controller: MDNAdminBundle:Index:index }
    methods:  [GET]

mdn_admin_index_index:
    pattern:  /admin/
    defaults: { _controller: MDNAdminBundle:Index:index }
    methods:  [GET]

# login
mdn_admin_login_login:
    pattern:  /admin/login/
    defaults: { _controller: MDNAdminBundle:Login:login }
    methods:  [GET]
    
mdn_admin_login_check:
    pattern:  /admin/login_check/
    defaults: { _controller: MDNAdminBundle:Login:loginCheck }
    methods:  [POST]

mdn_admin_login_logout:
    pattern:  /admin/logout/
    defaults: { _controller: MDNAdminBundle:Login:logout }
    methods:  [GET]

# role   
mdn_admin_role_index:
    pattern:  /admin/role/
    defaults: { _controller: MDNAdminBundle:Role:index }
    methods:  [GET,POST]
    
mdn_admin_role_create:
    pattern:  /admin/role/create/
    defaults: { _controller: MDNAdminBundle:Role:create }
    methods:  [GET,POST]
    
mdn_admin_role_update:
    pattern:  /admin/role/update/{id}
    defaults: { _controller: MDNAdminBundle:Role:update }
    methods:  [GET,POST]
    requirements:
        id: "\d+"
    
# user    
mdn_admin_user_index:
    pattern:  /admin/user/
    defaults: { _controller: MDNAdminBundle:User:index }
    methods:  [GET,POST]
    
mdn_admin_user_create:
    pattern:  /admin/user/create/
    defaults: { _controller: MDNAdminBundle:User:create }
    methods:  [GET,POST]
    
mdn_admin_user_update:
    pattern:  /admin/user/update/{id}
    defaults: { _controller: MDNAdminBundle:User:update }
    methods:  [GET,POST]
    requirements:
        id: "\d+"
    
mdn_admin_user_delete:
    pattern:  /admin/user/delete/{id}
    defaults: { _controller: MDNAdminBundle:User:delete }
    methods:  [GET]
    requirements:
        id: "\d+"