
mdn_admin_dashboard_index:
    pattern:  /admin/dashboard/
    defaults: { _controller: MDNAdminBundle:Index:index }
    methods:  [GET]

mdn_admin_index_index:
    pattern:  /admin/
    defaults: { _controller: MDNAdminBundle:Index:index }
    methods:  [GET]

# login
mdn_admin_login_login:
    pattern:  /admin/login/
    defaults: { _controller: MDNAdminBundle:Login:login }
    methods:  [GET]
    
mdn_admin_login_check:
    pattern:  /admin/login_check/
    defaults: { _controller: MDNAdminBundle:Login:loginCheck }
    methods:  [POST]

mdn_admin_login_logout:
    pattern:  /admin/logout/
    defaults: { _controller: MDNAdminBundle:Login:logout }
    methods:  [GET]

# role   
mdn_admin_role_index:
    pattern:  /admin/role/
    defaults: { _controller: MDNAdminBundle:Role:index }
    methods:  [GET,POST]
    
mdn_admin_role_add:
    pattern:  /admin/role/add
    defaults: { _controller: MDNAdminBundle:Role:add }
    methods:  [GET,POST]
    
mdn_admin_role_edit:
    pattern:  /admin/role/edit/{id}
    defaults: { _controller: MDNAdminBundle:Role:edit }
    methods:  [GET,POST]
    
mdn_admin_role_delete:
    pattern:  /admin/role/delete/{id}
    defaults: { _controller: MDNAdminBundle:Role:delete }
    methods:  [GET]
    
# user    
mdn_admin_user_index:
    pattern:  /admin/user/
    defaults: { _controller: MDNAdminBundle:User:index }
    
mdn_admin_user_add:
    pattern:  /admin/user/add
    defaults: { _controller: MDNAdminBundle:User:edit }
    methods:  [GET]
    
mdn_admin_user_edit:
    pattern:  /admin/user/edit/{id}
    defaults: { _controller: MDNAdminBundle:User:edit }
    
mdn_admin_user_delete:
    pattern:  /admin/user/delete/{id}
    defaults: { _controller: MDNAdminBundle:User:delete }
    methods:  [GET]